body {
    margin: 0;
}
.navigation {
    background-color: #7B3023;
    padding: 20px;
    text-align: right;
}
.navigation > a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
}
#home {
    height: 100vh;
    background-image: url(./images/home.png);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    line-height: 10px;
}

#home h1 {
    font-size: 60px;
}
#home p {
    font-size: 20px;
}
#about .reference {
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about .reference img {
    width: 1000px;
}
.about-content {
    display: flex;
justify-content: space-between;
margin-top: 50px;
padding: 0 50px;
}
.about-content img {
    background-image: url (./images/meet-fleur.png)

}
.about-content .meet-fleur {
    background-color: #22399E;
    color: white;
    padding: 15px;
}
Skills img {
    width: 300px;
    height: 300px; 
}

#Skills {
display: flex;
justify-content: space-between;
margin-top: 50px;
padding: 0 50px;
}
#projects {
display: flex;
justify-content: space-between;
margin-top: 50px;
padding: 0 50px;  
}

#contacts {
    display: flex;
justify-content: space-between;
margin-top: 50px;
padding: 0 50px;  
}



